---
layout: default
title: Home
---

<section class="latest-reviews">
  
  <div class="section-header">
    <h2>Latest Reviews</h2>
    <a href="{{ site.baseurl }}/search/" class="view-all-link">View all <span>&rsaquo;</span></a>
  </div>

  <div class="grid-container">
    {% for post in site.posts limit:4 %}
    
    <div class="card">
      <a href="{{ post.url | relative_url }}">
          <img 
            src="{{ post.image | relative_url }}" 
            alt="{{ post.title }} book cover"
            loading="lazy"
            decoding="async"
          >
        <div class="card-content">
          
          <div class="tags-container" style="margin-bottom:10px;">
            {% for genre in post.genre %}
              <span class="genre-tag">{{ genre }}</span>
            {% endfor %}
          </div>

          <h3>{{ post.title }}</h3>

          <div class="stars" style="margin-bottom: 10px;">
            {% include stars.html rating=post.rating %}
          </div>

          <p style="font-size: 0.9rem; color: #666; margin-top: 10px;">
            {{ post.customdesc }}
          </p>

        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<hr style="border: 0; border-top: 1px solid #eee; margin: 40px 0;">

<section class="our-picks">
  
  <div class="section-header">
    <h2>Our Picks</h2>
    <a href="{{ site.baseurl }}/our-picks/" class="view-all-link">View all <span>&rsaquo;</span></a>
  </div>

  <div class="grid-container">
    {% assign featured = site.posts | where: "featured", true %}
    {% for post in featured limit:4 %}
    
    <div class="card">
      <a href="{{ site.baseurl }}{{ post.url }}">
          <img 
            src="{{ post.image | relative_url }}" 
            alt="{{ post.title }}"
            loading="lazy"
            decoding="async"
          >

        <div class="card-content">
          
          <div class="tags-container" style="margin-bottom:10px;">
            {% for genre in post.genre %}
              <span class="genre-tag">{{ genre }}</span>
            {% endfor %}
          </div>

          <h3>{{ post.title }}</h3>

          <div class="stars" style="margin-bottom: 10px;">
            {% include stars.html rating=post.rating %}
          </div>

          <p style="font-size: 0.9rem; color: #666; margin-top: 10px;">
            {{ post.customdesc }}
          </p>

        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>